{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% if session_username is defined %}

        <h1>Hi {{ session_username }}!</h1>

    {% else %}

        <h1>Hi guest!</h1>

    {% endif %}

    <div>
        You are in Game #{{game.gid}}.
        
    </div>

        
    <h1>Writing Round</h1>

    <div>
        Please write endings to the following proverbs. Do not capitalize the first word of your sentence and remember to add punctuation!
    </div>

    <form method="POST" action="/play" >
        {{ form.hidden_tag() }}

        <div class="form-group">
            1. {{ question1 }}...<br>
            {{ form.response1.label }}<br>
            {{ form.response1(size=84) }}<br>
            {% for error in form.response1.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>

        {% if question2 != 'blank' %}
        <div class="form-group">
            2. {{ question2 }}...<br>
            {{ form.response2.label }}<br>
            {{ form.response2(size=84) }}<br>
            {% for error in form.response2.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% endif %}

        {% if question3 != 'blank' %}
        <div class="form-group">
            3. {{ question3 }}...<br>
            {{ form.response3.label }}<br>
            {{ form.response3(size=84) }}<br>
            {% for error in form.response3.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% endif %}

        {% if question4 != 'blank' %}
        <div class="form-group">
            4. {{ question4 }}...<br>
            {{ form.response4.label }}<br>
            {{ form.response4(size=84) }}<br>
            {% for error in form.response4.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% endif %}

        {% if question5 != 'blank' %}
        <div class="form-group">
            5. {{ question5 }}...<br>
            {{ form.response5.label }}<br>
            {{ form.response5(size=84) }}<br>
            {% for error in form.response5.errors %}
                <span class="form-error-message">[{{ error }}]</span>
            {% endfor %}
        </div>
        {% endif %}


        {{ form.submit(class="form-submit") }}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

    </form>



{% endblock %}