{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    
    
{% endblock %}

{% block content %}

    <script>
    function myFunction(divid) {
            var x = document.getElementById(divid);
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    
         
    </script>

    {% if session_username is defined %}

        <h1>Hi {{ session_username }}!</h1>

    {% else %}

        <h1>Hi guest!</h1>

    {% endif %}

    <div>
        You are in Game #{{game.gid}}. Here are the final results:
        
    </div>

    {% if game.admin == 1 %}

        <h1> 1: {{question1.question}}... </h1>
        <button onclick="myFunction('results1')">Reveal Answers</button>        
          <div id="results1" style="display:none">
            <div>
              {% if q1[0] != 'empty: blank' %}
                <p> {{players[0].username}} wrote: </p>
                <button onclick="myFunction('response1-1')">Reveal Response</button> 
                <p id="response1-1" style="display:none"> {{ players[0].response1 }}</p>
              {% endif %}
              {% if q1[1] != 'empty: blank' %}
                <p> {{players[1].username}} wrote: </p>
                <button onclick="myFunction('response1-2')">Reveal Response</button> 
                <p id="response1-2" style="display:none"> {{ players[1].response1 }}</p>
              {% endif %}
              {% if q1[2] != 'empty: blank' %}
                <p> {{players[2].username}} wrote: </p>
                <button onclick="myFunction('response1-3')">Reveal Response</button>  
                <p id="response1-3" style="display:none"> {{ players[2].response1 }}</p>
              {% endif %}
              {% if q1[3] != 'empty: blank' %}
                <p> {{players[3].username}} wrote: </p>
                <button onclick="myFunction('response1-4')">Reveal Response</button> 
                <p id="response1-4" style="display:none"> {{ players[3].response1 }}</p>
              {% endif %}
              {% if q1[4] != 'empty: blank' %}
                <p> {{players[4].username}} wrote: </p>
                <button onclick="myFunction('response1-5')">Reveal Response</button> 
                <p id="response1-5" style="display:none"> {{ players[4].response1 }}</p>
              {% endif %}
              {% if q1[5] != 'empty: blank' %}
                <p> The correct answer is: </p>
                <button onclick="myFunction('response1-6')">Reveal Response</button> 
                <p id="response1-6" style="display:none"> {{ q1[5] }}</p>
              {% endif %}
            </div>

          <button onclick="myFunction('final1')">Reveal Votes</button> 
          <div id="final1" style="display:none">
            <br>
            {% for p in players %}
                {% if p.username != 'empty' %}
                    <b>{{p.username}}</b> voted for  
                    {% if p.voting1 != 6 %}
                        the response written by <b>{{players[p.voting1-1].username}}</b>
                    {% else %}
                        the correct answer
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
          </div>
      </div>
      <br>

      {% if question2.question != 'blank' %}
      <h1> 2: {{question2.question}}... </h1>
      <button onclick="myFunction('results2')">Reveal Answers</button>        
          <div id="results2" style="display:none">
          <div>
              {% if q2[0] != 'empty: blank' %}
                <button onclick="myFunction('response2-1')">Reveal Response</button> 
                <p id="response2-1" style="display:none"> {{ q2[0] }}</p>
              {% endif %}
              {% if q2[1] != 'empty: blank' %}
                <button onclick="myFunction('response2-2')">Reveal Response</button> 
                <p id="response2-2" style="display:none"> {{ q2[1] }}</p>
              {% endif %}
              {% if q2[2] != 'empty: blank' %}
                <button onclick="myFunction('response2-3')">Reveal Response</button>  
                <p id="response2-3" style="display:none"> {{ q2[2] }}</p>
              {% endif %}
              {% if q2[3] != 'empty: blank' %}
                <button onclick="myFunction('response2-4')">Reveal Response</button> 
                <p id="response2-4" style="display:none"> {{ q2[3] }}</p>
              {% endif %}
              {% if q2[4] != 'empty: blank' %}
                <button onclick="myFunction('response2-5')">Reveal Response</button> 
                <p id="response2-5" style="display:none"> {{ q2[4] }}</p>
              {% endif %}
              {% if q2[5] != 'empty: blank' %}
                <button onclick="myFunction('response2-6')">Reveal Response</button> 
                <p id="response2-6" style="display:none"> {{ q2[5] }}</p>
              {% endif %}
            </div>

      <button onclick="myFunction('final2')">Reveal Votes</button> 
      <div id="final2" style="display:none">
        <br>
       {% for p in players %}
            {% if p.username != 'empty' %}
                <b>{{p.username}}</b> voted for  
                {% if p.voting2 != 6 %}
                    the response written by <b>{{players[p.voting2-1].username}}</b>
                {% else %}
                    the correct answer
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}

      </div>
      </div>
      {% endif %}
      <br>

      {% if question3.question != 'blank' %}
      <h1> 3: {{question3.question}}... </h1>
      <button onclick="myFunction('results3')">Reveal Answers</button>        
          <div id="results3" style="display:none">
          <div>
              {% if q3[0] != 'empty: blank' %}
                <button onclick="myFunction('response3-1')">Reveal Response</button> 
                <p id="response3-1" style="display:none"> {{ q3[0] }}</p>
              {% endif %}
              {% if q3[1] != 'empty: blank' %}
                <button onclick="myFunction('response3-2')">Reveal Response</button> 
                <p id="response3-2" style="display:none"> {{ q3[1] }}</p>
              {% endif %}
              {% if q3[2] != 'empty: blank' %}
                <button onclick="myFunction('response3-3')">Reveal Response</button>  
                <p id="response3-3" style="display:none"> {{ q3[2] }}</p>
              {% endif %}
              {% if q3[3] != 'empty: blank' %}
                <button onclick="myFunction('response3-4')">Reveal Response</button> 
                <p id="response3-4" style="display:none"> {{ q3[3] }}</p>
              {% endif %}
              {% if q3[4] != 'empty: blank' %}
                <button onclick="myFunction('response3-5')">Reveal Response</button> 
                <p id="response3-5" style="display:none"> {{ q3[4] }}</p>
              {% endif %}
              {% if q3[5] != 'empty: blank' %}
                <button onclick="myFunction('response3-6')">Reveal Response</button> 
                <p id="response3-6" style="display:none"> {{ q3[5] }}</p>
              {% endif %}
            </div>

      <button onclick="myFunction('final3')">Reveal Votes</button> 
      <div id="final3" style="display:none">
        <br>
        {% for p in players %}
            {% if p.username != 'empty' %}
                <b>{{p.username}}</b> voted for  
                {% if p.voting3 != 6 %}
                    the response written by <b>{{players[p.voting3-1].username}}</b>
                {% else %}
                    the correct answer
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}

      </div>

      </div>
      </div>
      {% endif %}
      <br>

      {% if question4.question != 'blank' %}
      <h1> 4: {{question4.question}}... </h1>
      <button onclick="myFunction('results4')">Reveal Answers</button>        
          <div id="results4" style="display:none">
          <div>
              {% if q4[0] != 'empty: blank' %}
                <button onclick="myFunction('response4-1')">Reveal Response</button> 
                <p id="response4-1" style="display:none"> {{ q4[0] }}</p>
              {% endif %}
              {% if q4[1] != 'empty: blank' %}
                <button onclick="myFunction('response4-2')">Reveal Response</button> 
                <p id="response4-2" style="display:none"> {{ q4[1] }}</p>
              {% endif %}
              {% if q4[2] != 'empty: blank' %}
                <button onclick="myFunction('response4-3')">Reveal Response</button>  
                <p id="response4-3" style="display:none"> {{ q4[2] }}</p>
              {% endif %}
              {% if q4[3] != 'empty: blank' %}
                <button onclick="myFunction('response4-4')">Reveal Response</button> 
                <p id="response4-4" style="display:none"> {{ q4[3] }}</p>
              {% endif %}
              {% if q4[4] != 'empty: blank' %}
                <button onclick="myFunction('response4-5')">Reveal Response</button> 
                <p id="response4-5" style="display:none"> {{ q4[4] }}</p>
              {% endif %}
              {% if q4[5] != 'empty: blank' %}
                <button onclick="myFunction('response4-6')">Reveal Response</button> 
                <p id="response4-6" style="display:none"> {{ q4[5] }}</p>
              {% endif %}
            </div>

      <button onclick="myFunction('final4')">Reveal Votes</button> 
      <div id="final4" style="display:none">
        <br>
        {% for p in players %}
            {% if p.username != 'empty' %}
                <b>{{p.username}}</b> voted for  
                {% if p.voting4 != 6 %}
                    the response written by <b>{{players[p.voting4-1].username}}</b>
                {% else %}
                    the correct answer
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}

      </div>

      </div>
      </div>
      {% endif %}
      <br>

      {% if question5.question != 'blank' %}
      <h1> 5: {{question5.question}}... </h1>
      <button onclick="myFunction('results5')">Reveal Answers</button>        
          <div id="results5" style="display:none">
          <div>
            {% if q5[0] != 'empty: blank' %}
              <button onclick="myFunction('response5-1')">Reveal Response</button> 
              <p id="response5-1" style="display:none"> {{ q5[0] }}</p>
            {% endif %}
            {% if q5[1] != 'empty: blank' %}
              <button onclick="myFunction('response5-2')">Reveal Response</button> 
              <p id="response5-2" style="display:none"> {{ q5[1] }}</p>
            {% endif %}
            {% if q5[2] != 'empty: blank' %}
              <button onclick="myFunction('response5-3')">Reveal Response</button>  
              <p id="response5-3" style="display:none"> {{ q5[2] }}</p>
            {% endif %}
            {% if q5[3] != 'empty: blank' %}
              <button onclick="myFunction('response5-4')">Reveal Response</button> 
              <p id="response5-4" style="display:none"> {{ q5[3] }}</p>
            {% endif %}
            {% if q5[4] != 'empty: blank' %}
              <button onclick="myFunction('response5-5')">Reveal Response</button> 
              <p id="response5-5" style="display:none"> {{ q5[4] }}</p>
            {% endif %}
            {% if q5[5] != 'empty: blank' %}
              <button onclick="myFunction('response5-6')">Reveal Response</button> 
              <p id="response5-6" style="display:none"> {{ q5[5] }}</p>
            {% endif %}
            </div>

      <button onclick="myFunction('final5')">Reveal Votes</button> 
      <div id="final5" style="display:none">
        <br>
        {% for p in players %}
            {% if p.username != 'empty' %}
                <b>{{p.username}}</b> voted for  
                {% if p.voting5 != 6 %}
                    the response written by <b>{{players[p.voting5-1].username}}</b>
                {% else %}
                    the correct answer
                {% endif %}
                <br>
            {% endif %}
        {% endfor %}

      </div>
      </div>
      {% endif %}
      <br>

    <h1> Total scores:</h1> <button onclick="myFunction('results6')">Reveal Final Scores</button>        
          <div id="results6" style="display:none">
            <div>
                {% for p in players %}
                    {% if p.username != 'empty' %}
                    <p> {{ p.username }} scored {{p.score}} points</p>
                    {% endif %}
                {% endfor %}
            </div>

            {% if tie == False %}
            <h1> The winner is 
              {% for h in highPlayer %}
                    {{h}} with {{highPlayerScore}} points!
                {% endfor %}</h1>
            {% endif %}

            {% if tie == True %}
            <h1> There's a tie between 
              {% for h in highPlayer %}
                {% if h != 'empty' %}
                    {{h}}
                {% endif %}
                {% endfor %}
              with {{highPlayerScore}} points!</h1>
    
             {% endif %}
            </div>

            {% else %}

            <div>
            <div>
                {% for p in players %}
                    {% if p.username != 'empty' %}
                    <p> {{ p.username }} scored {{p.score}} points</p>
                    {% endif %}
                {% endfor %}
            </div>

            {% if tie == False %}
            <h1> The winner is 
              {% for h in highPlayer %}
                    {{h}} with {{highPlayerScore}} points!
                {% endfor %}</h1>
            {% endif %}

            {% if tie == True %}
            <h1> There's a tie between 
              {% for h in highPlayer %}
                {% if h != 'empty' %}
                    {{h}}
                {% endif %}
                {% endfor %}
              with {{highPlayerScore}} points!</h1>
    
             {% endif %}
            </div>

            {% endif %}



    <br><br>
    <div style="font-size:22px">Start a new game?
      <form action="/logout" method="POST">
        <button type="submit"> Start</button>
    </form>
    </div>



{% endblock %}