{% extends "layout.html" %}

{% block styles %}
    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    {% if session_username is defined %}

        <h1>Hi {{ session_username }}!</h1>

    {% else %}

        <h1>Hi guest!</h1>

    {% endif %}

    <div>
        You are in Game #{{session_game}}. <br>

        {% if (room == 1) %}
            Please wait for your moderator to tell you when to start. Then click here to start the writing round: <a href="/play">play</a>
            <div>
                Players present (refresh page to update): 
                {% for p in players %}
                    {% if p.username != 'empty' %}
                    <p> {{ p.username }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if (room == 2) %}
            Please wait for your moderator to tell you when to continue. Then click here to go to the voting round: <a href="/voting">vote</a>
            <div>
                Players present (refresh page to update): 
                {% for p in players %}
                    {% if p.username != 'empty' %}
                    <p> {{ p.username }}
                        {% if p.response1 != 'blank' %}
                            finished writing
                        {% endif %}
                    </p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if (room == 3) %}
            Please wait for your moderator to tell you when to continue (do not click Results early or your score will not calculate correctly). Then click here to go to results: <a href="/results">results</a>
            <div>
                Players present (refresh page to update): 
                {% for p in players %}
                {% if p.username != 'empty' %}
                    <p> {{ p.username }}
                        {% if p.voting1 != 0 %}
                            finished voting
                        {% endif %}
                    </p>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        
    </div>

    {% if session_username is 'ADMIN' %}
        <label style="padding: 10px"  for="voting1">Remove user?</label>
        <select id="remove" name = "remove">
          <option value=1>1</option>
          <option value=2>2</option>
          {% if playerCount >= 2 %}
          <option value=3>3</option>
          {% endif %}
          {% if playerCount >= 3 %}
          <option value=4>4</option>
          {% endif %}
          {% if playerCount >= 4 %}
          <option value=5>5</option>
          {% endif %}
          {% if playerCount >= 5 %}
          <option value=6>6</option>
          {% endif %}
          <br>
        </select>
    {% endif %}

    <form action="/logout" method="POST">
        <button type="submit"> Log out</button>
    </form>

{% endblock %}